@page
@model controleDePontoV1.Pages.relatorioApontamento.IndexModel
@{
}
<h1>Generate</h1>

<h4>Report</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="apt.codigo_Projeto" class="control-label"></label>
                <input asp-for="apt.codigo_Projeto" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="apt.codigo_Equipe" class="control-label"></label>
                <input asp-for="apt.codigo_Equipe" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="apt.codigo_Colaborador" class="control-label"></label>
                <input asp-for="apt.codigo_Colaborador" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="apt.dia_Inicial" class="control-label"></label>
                <input asp-for="apt.dia_Inicial" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="apt.dia_final" class="control-label"></label>
                <input asp-for="apt.dia_final" class="form-control" />
            </div>
            <input type="submit"asp-route-backToMenu=false class="btn btn-primary" value="Execute" />
            <br />
            <br />
            <input type="submit" asp-route-backToMenu=true class="btn btn-primary" value="Back to Menu" />
        </form>

        <br />
        <br />
        @if (Model.reportApontamento != null)
        {
            <h1> Result </h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.reportApontamento[0].codigo_Projeto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportApontamento[0].codigo_Equipe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportApontamento[0].horTrab)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportApontamento[0].minTrab)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.reportApontamento)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.codigo_Projeto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.codigo_Equipe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.horTrab)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.minTrab)
                        </td>
                    </tr>

                }
                </table>
            }
    </div>
</div>
