@page
@model controleDePontoV1.Pages.PapelPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Papel[0].descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id=0 asp-route-backToMenu=true>Back to Menu</a>
    <tbody>
        @foreach (var item in Model.Papel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.codigo">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.codigo">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.codigo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
